/* Modal base styles */
.modal {
  /* A remettre */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 630px;
  max-width: 60vw;
  height: 671px;
  border-radius: 10px;
  padding-top: 60px;
  padding-bottom: 48px;
}

.modal-content-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 630px;
  max-width: 60vw;
  height: 671px;
  border-radius: 10px;
  padding-top: 60px;
  padding-bottom: 48px;
}

.closeBtn {
  color: #000;
  float: right;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 26px;
  right: 30px;
}

.arrowBackBtn {
  color: #000;
  float: right;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 26px;
  left: 30px;
}

.modal-title {
  color: #000;
  text-align: center;
  font-family: Work Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 50px;
}

.modal-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 8px;
  row-gap: 16px;
  margin: 0 auto;
  width: 70%;
}

.figure-work {
  position: relative;
  display: flex;
  flex-direction: column;
}

.img-work {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.figcaption-work {
  margin-top: 4px;
  cursor: pointer;
}

.trash-icon, .zoom-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: black;
  padding: 5px;
  border-radius: 2px;
  font-size: 9px;

}

.trash-icon {
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
}

.zoom-icon {
  position: absolute;
  top: 6px;
  right: 26px;
  cursor: pointer;
}

.modal-line {
  width: 420px;
  height: 1px;
  background: #B3B3B3;
  margin-bottom: 1em;
  margin-top: 50px;
}

.modal-add-picture {
  font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 139px;
  padding: 10px 49px;
	text-align: center;
	border-radius: 60px ;
  border: none;
  cursor: pointer;
}

.modal-delete-gallery {
  color: #D65353;
  text-align: center;
  /* font-family: Syne; */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.custom-file-upload {
  display: flex;
}

.file-upload {
  display: none;
  /* Hide the default input */
}

.file-upload-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: #E8F1F6;
  color: white;
  cursor: pointer;
  width: 100%;
  height: 169px;
  border-radius: 3px;
  background: #E8F1F6;
  text-align: center;

}

#file-upload-label {
  margin-bottom: 0px;
  margin-top: 0px;
}

.file-upload-img {
  font-size: 58px;
  color: #B9C5CC;
  margin-top: 22px;
  margin-bottom: 15px;
}

.file-upload-add {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #CBD6DC;
  width: 173px;
  height: 36px;

  color: #306685;
  text-align: center;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.file-upload-authorized {
  color: #444;
  text-align: center;
  font-family: Work Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 7px;
  margin-bottom: 8px;
}

.modal-line-upload {
  width: 420px;
  height: 1px;
  background: #B3B3B3;
  margin-bottom: 2em;
  margin-top: 50px;
  margin-inline: auto;
}

.modal-send-work {
  font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 139px;
  padding: 10px 49px;
	text-align: center;
	border-radius: 60px ;
  border: none;
  cursor: pointer;
}

.modal-send-work.disabled {
  background-color: #A7A7A7;
  color: #FFF;
  cursor: not-allowed;
}

.img-upload-preview {
  max-width: 100%;
  max-height: 100%;
}

.modal-successful-sent-work {
  color: #2b7b48;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.div-for-listener-send-work {

}

.modal-title-empty-warning {
  color: red;
  padding-top: 8px;
  font-size: 12px;
  

}
